<!-- /layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="User Authentication">
  <meta name="author" content="">

  <style>
    @media screen and (max-width: 400px) {
        img {width: 65%;}
    }
  </style>

  <title>WiSTEM</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">WiSTEM</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li {{#if home}}class="active"{{/if}}><a href="/">Home</a></li>
                <li {{#if profile}}class="active"{{/if}}><a href="/profile">Profile</a></li>
                <li {{#if forum}}class="active"{{/if}}><a href="/forum">Forum</a></li>
                <li {{#if blog}}class="active"{{/if}}><a href="/blog">Blog</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {{#if user}}<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                {{else}}<li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
        </nav>

    {{#if error}}
      <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
      <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
      <p class="alert alert-info">{{notice}}</p>
    {{/if}}

    {{{body}}}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
