<div id="container">
    <h1>Account page</h1>
    <hr>
    <form id="local-sign-in" action="/update-profile" method="post">
        <div class="jumbotron container-fluid">
            <div class="col-xs-4">
                <label>Username</label><input name="username" class="form-control" type="text" value="{{user.username}}"></input>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col-xs-4">
                <label>First name</label><input name="first" class="form-control" type="text" value="{{user.username}}"></input>
            </div>
            <div class="col-xs-4">
                <label>Last name</label><input name="last" class="form-control" type="text" value="{{user.username}}"></input>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col-xs-4">
                <label>Email</label><input name="email" class="form-control" type="text" value="{{user.username}}"></input>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col-xs-4">
                <label>School</label><input name="school" class="form-control" type="text" value="{{user.username}}"></input>
            </div>
        </div>

        <input type="submit" class="btn btn-primary btn-lg pull-right" value="Update"/>
    </form>
</div>
