<div id="container">
    <h1>Account page</h1>
    <hr>
    
        <div class="jumbotron container-fluid">
            <div class="col-xs-4">
                <label>Username:</label>
                <h4>{{user.username}}</h4>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col-xs-4">
                <label>First name</label>
                <h4>{{user.firstName}}</h4>
            </div>
            <div class="col-xs-4">
                <label>Last name</label>
                <h4>{{user.lastName}}</h4>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col-xs-4">
                <label>Email</label>
                <h4>{{user.email}}</h4>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col-xs-4">
                <label>School</label>
                <h4>{{user.school}}</h4>
            </div>
        </div>

        
    
</div>
